---
layout: post
---

{{ content }}

{% include contact_item.html collection=site.data.contacts.entries %}

<hr data-content=" availability " />

<iframe src="https://calendar.google.com/calendar/embed?src=c_02a8604ac4fbaa0f97282bc700b0bc61e31e8704a021001f3cb028051796d9be%40group.calendar.google.com&ctz=America%2FNew_York&mode=AGENDA" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>

<iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=America%2FNew_York&mode=AGENDA&title=Shubham's%20Calendar&showNav=0&showDate=0&showPrint=0&showTabs=0&showCalendars=0&showTz=1&showTitle=0&src=c2h1YmhhbWNoYXVkaGFyeTE5OTZAZ21haWwuY29t&src=bDM0cDdycmE2czY3b2psOGQzNDFhbnBtZWNAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&src=c2MyOTM3QGNvcm5lbGwuZWR1&color=%230B8043&color=%23b90e28&color=%23F6BF26" style="border-width:0" width="100%" height="600" frameborder="0" scrolling="no"></iframe>
